# file types
*.bak
*.so
*.*~
*.iml
*.swp
*.log
*.gz
*.jar
.DS_Store

.idea

# directories
**/bin/*
**/tmp/*

# editor stuff
**/.idea/
**/.vscode/
*.iml
*.ipr
*.iws
.project
.settings


# java stuff
**/target/
**/build/
**/.gradle
**/out/

# python stuff
**/venv/
**/__pycache__
*.pyc

# nodejs stuff
**/node_modules/

# gcloud credentials
gcp/gcloud-config.json
/secure-connect-vino9.zip
/cassandra.env
/cassandra.env.*

# test data
**/ids*.txt

# binary files
load-generator/slave
